configuration {
    font:       "Noto Sans Bold 10";
    icon-theme: "Tela Circle";
    show-icons: true;

    modi:           "window,drun,combi";
    combi-mode:     "window,drun";
    drun-display-format: "{name}";
}

@theme "doom-one"
